.carouselContainer {
  position: relative;
  height: 400px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.slide {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease;
}

.leftArrow,
.rightArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.leftArrow:hover,
.rightArrow:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.leftArrow {
  left: 10px;
}

.rightArrow {
  right: 10px;
}

.dotsContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.dot {
  margin: 0 5px;
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.activeDot {
  background-color: #0a8a8a;
}

@media (max-width: 768px) {
  .carouselContainer {
    height: 200px;
  }

  .leftArrow,
  .rightArrow {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}